body {
  background-color: rgb(163, 117, 223);
  font-family: sans-serif;
}

.main-div {
  width: 600px;
  height: 600px;
  background-color: rgb(242, 241, 241);
  border: solid 40px rgb(62, 59, 59);
  box-shadow: 2px 3px 52px 35px rgba(224, 212, 170, 0.21);
  -webkit-box-shadow: 2px 3px 52px 35px rgba(224, 212, 170, 0.21);
  -moz-box-shadow: 2px 3px 52px 35px rgba(224, 212, 170, 0.21);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-content {
  text-align: center;
}
.die-div {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  color: black;
  width: 50px;
  background-color: white;
  height: 50px;
  box-shadow: 2px 3px 52px 35px rgba(199, 170, 224, 0.21);
  -webkit-box-shadow: 2px 3px 52px 35px rgba(199, 170, 224, 0.21);
  -moz-box-shadow: 2px 3px 52px 35px rgba(199, 170, 224, 0.21);
  border-radius: 10%;
  font-size: 20px;
  font-weight: bold;
}
.row {
  display: flex;
  justify-content: space-around; /* Arrange items with equal space */
  gap: 20px; /* Adjust the gap between items in each row */
  margin-top: 20px;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-top: 10%;
  margin-left: 5%;
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 2rem;
}

.main-btn{
  width: 200px;
  height: 80px;
  background-color: rgb(179, 51, 179);
  border: none;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 5%;
  color: white;
}
.main-btn:hover {
  opacity: 0.9;
  background-color: rgb(150, 31, 150); /* Change the color on hover if desired */
  transform: scale(1.05); /* Scale up slightly on hover */
}

.main-btn:focus {
  outline: none; /* Remove the outline on focus for better appearance */
}
.title {
  font-size: 40px;
  margin: 0;
  margin-top: 10%;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}